@font-face {
  font-family: "NoirPro Regular";
  src: url("../../fonts/NoirPro-Regular.eot");
  src:
    url("../../fonts/NoirPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/NoirPro-Regular.woff2") format("woff2"),
    url("../../fonts/NoirPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NoirPro SemiBold";
  src: url("../../fonts/NoirPro-SemiBold.eot");
  src:
    url("../../fonts/NoirPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/NoirPro-SemiBold.woff2") format("woff2"),
    url("../../fonts/NoirPro-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NoirPro Medium";
  src: url("../../fonts/NoirPro-Medium.eot");
  src:
    url("../../fonts/NoirPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/NoirPro-Medium.woff2") format("woff2"),
    url("../../fonts/NoirPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
